body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #f8f9fa;
  color: #212529;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
label {
  color: #212529;
}

a {
  text-decoration: none;
}

.card {
  color: #212529;
}

input,
select,
textarea {
  color: #212529;
}